*{
    margin: 0;
    padding: 100;
    font-family: "Bahnschrift", sans-serif
}

/*----- Header and navbar -----*/
.header{
    min-height: 10vh;
    width: 100%;
    background-color: #fff; 
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    min-height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}
nav img{
    height: 10vh;
    margin: 10px 10px;
}
.nav-links{
    flex: 1;
    text-align: right;
    margin-right: 24px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0 12px;
    position: relative;
}
.nav-links ul li a{
    color: #610129;
    text-decoration: none;
    font-size: 24px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #610129;
    display: block;
    margin: auto;
    transition: 0.4s;
}
.nav-links ul li:hover::after{
    width: 100%;

}
/*----- Welcome page -----*/
.welcome{
    width: 100%;
    height: 100vh;
    background-image: url("images/home.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.text-box{
    width: 99%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 64px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 32px;
    color: #fff;
}
.join-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.join-btn:hover{
    color: #610129;
    border: 2px solid #610129;
    background: #fff;
    transition: 0.8s;
}
nav .fa{
    display: none;
}
/*----- join page -----*/
.join{

}
.join a{
    text-align: center;
    color:#000;
}

/*----- rules page-----*/
.rules{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    color: #610129;
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    margin: 20px 0;
}
p{
    color: #610129;
    font-size: 26px;
    font-weight: 300;
    line-height: 30px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.rules-col{
    flex-basis: 30%;
    background: #610129;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.rules-col p{
    color: #fff;
}
h3{
    text-decoration: underline;
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

/*----- standings page -----*/
.standings{
    min-height: 50vh;
    margin-bottom: 100px;  
}

.standings p{
    color: #fff;
    text-align:center;
    max-width: 50vh;
    background: #610129;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
   
}

/*----- contact me page -----*/

.contact{
    height: 100vh;
    width: "100%";
    position: relative;
    background-color: #610129;
    
}
.contact h1{
    margin: 0;
    text-align: center;
    font-weight: 600;
    color: #fff;
}
.contact p{
    text-align: center;
    color: #fff;
}
/*----- Footer at bottom of each page -----*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

/*----- media customization -----*/
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #0aa;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.8s;
    }
    nav .fa{
        display: block;
        color: #000;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}